/* default colors */
:root {
  --c1 : #FFC3FF;
  --c2 : #FFB3FF;
  --c3 : #FFA3FF;
  --c4 : #FF95FF;
  --c5 : #FC87EB;
  --c6 : #E17AD2;
  --c7 : #C86EBB;
  --c8 : #B263A6;
  --c9 : #9C5993;
  --c10 : #894F81;
  --c11 : #784670;
  --c12 : #673E61;
  --c13 : #593654;
  --c14 : #4C2F48;
  --c15 : #40293D;
  --c16 : #352333;

}


@keyframes movearound {
    from {
        transform: rotate(0deg) translateX(5vh) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(5vh) rotate(-360deg);
    }
}










.wh-bubble {
    position: absolute;
    width: var(--size);
    height: var(--size);
    top: var(--y);
    left: var(--x);

    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, var(--color1), var(--color2) 70%);
    filter: blur(0.5vmin);


    animation: movearound var(--d) linear infinite;
    animation-delay: var(--delay);
    transform-origin: center center;
}










.centered {
position: absolute;
    top:50%;
  left: 50%;
  transform: translate(-50% , -50%);
  transition: all 0.3s ease;
}
.lowered {
  position: absolute;
  top:50%;
  left: 0%;
  width: 100%;
  transition: all 0.3s ease;
}


.topbar {
  position: absolute;

  width: 100%;
  left: 0%;
  top: 0%;
}








body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
   text-align: center;
  background: var(--c2);
  color : var(--c14);
}
input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--c1);
    border: 1px solid var(--c10);
}

input:focus {
  outline: none;
}
a {
  color: var(--c8);
}






nav {
  padding: 10px;
}
nav ul {
  list-style: none;   
  padding: 0;        
  display: flex;   
  gap: 4rem;
  justify-content: center;

}













.annoying-corner-workaround {
  border-radius: 3rem;
  overflow: hidden;            
  margin: 20px auto;
  padding: 0 2rem;
  width: 80%;
  align-self: center;
  background-color: var(--c10);

}


table {
  width: 100%;
  border-collapse: collapse; 
  font-family: Arial, sans-serif;

}
table:empty, td:empty, tr:empty {
  display: none;
}

th, td {
  border: 1px solid var(--c2);
  padding: 10px 15px;
  margin: calc(15px + 10rem);
  text-align: left;
}

th {
  background-color: var(--c10);
  color: var(--c2);
}

td {
  background-color: var(--c10);
}

tr a {
  color: var(--c4)
}


th:first-child, td:first-child {
  border-left: none;
}

th:last-child, td:last-child {
  border-right: none;
}

tr:first-child th, tr:first-child td {
  border-top: none;
}

tr:last-child th, tr:last-child td {
  border-bottom: none;
}

