@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


/* ------------------- */


:root {
  --c1 : #D694FF;
  --c2 : #BF84FF;
  --c3 : #AA75FF;
  --c4 : #9667FF;
  --c5 : #845AFB;
  --c6 : #734EDD;
  --c7 : #6443C1;
  --c8 : #563AA7;
  --c9 : #4A3190;
  --c10 : #3E297B;
  --c11 : #342268;
  --c12 : #2C1C58;
  --c13 : #241749;
  --c14 : #1D123C;
  --c15 : #170E30;
  --c16 : #120B26;

}

body {
  font-family: "Futura", "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
   text-align: center;
  background: var(--c2);
  color : var(--c10);
}


/* ------------------- */

@keyframes movearound {
    from {
        transform: rotate(0deg) translateX(5vh) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(5vh) rotate(-360deg);
    }
}




/* ------------------- */

.wh-bubble {
    position: absolute;
    width: var(--size);
    height: var(--size);
    top: var(--y);
    left: var(--x);

    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, var(--color1), var(--color2) 70%);
    filter: blur(0.5vmin);


    animation: movearound var(--d) linear infinite;
    animation-delay: var(--delay);
    transform-origin: center center;
}


.centered {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50% , -50%);
  transition: all 0.3s ease;
}
.lowered {
  position: absolute;
  top:50%;
  left: 0%;
  width: 100%;
  transition: all 0.3s ease;
}

.main-article {
  position: absolute;
  top:5rem;
  background: var(--c1);
  display: block;   
  gap: 0 4rem;
  width: calc(100% - 8rem);
  left: 2rem;
  padding: 2rem;
  border-radius: 3rem;
  box-shadow: 0px 0px 5px var(--c1);
}
.main-article p,
.main-article ul,
.main-article li {
  text-align: left;
}

.tip {
  background-color: var(--c2);
  padding: 1rem;
}

.topbar {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  background-color: var(--c2);
  height: 3rem;
}




/* ------------------- */






a {
  color: var(--c8);
}



hr {
  border-color: var(--c10);
}



button {
  color: var(--c10);
}


input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--c1);
    border: 1px solid var(--c10);

}

input:focus {
  outline: none;
}


b {
  font-weight: 600;

}




nav ul {
  list-style: none;   
  padding: 0;        
  display: flex;   
  gap: 0 4rem;
  justify-content: center;
}




.annoying-corner-workaround {
  border-radius: 1rem;
  overflow: hidden;            
  margin: 20px auto;
  width: 80%;
  align-self: center;
  background-color: var(--c11);

}


table {
  width: 100%;
  /* border-collapse: collapse;  */
  font-family: Arial, sans-serif;
  text-align: center;
  border: none;

}
table:empty, td:empty, tr:empty {
  display: none;
}

th, td {
  padding: 10px 15px;

}

th {
  background-color: var(--c10);
  color: var(--c2);
}

td {
  background-color: var(--c10);
}

tr a {
  color: var(--c4)
}


