

body {
    text-align: center;

}




.centered:has(input:not(:placeholder-shown)) {
    transform: translate(-50% , -100%)
    
}


#searchtitle {
  transform: scaleY(1); 
    font-size: 7rem;
    color: var(--c10);
    border-width: 5px;

    animation: shift-text 10s ease-in-out infinite alternate;
    font-weight: 800;
    margin: 1rem;
    /* 0px 0px 30px rgba(183, 0, 255, 0.8); */
}

#outer-searchbox {
    background-color: var(--c10);
    border: 1px solid var(--c10);
    border-radius: 3rem;
    height: 5.5vh;
    width: 60vw;
    padding: 0rem 1rem;
    transition: all 0.3s ease;
    font-size: 2vh;
}

#outer-searchbox:focus-within {
    box-shadow: 0px 0px 30px var(--c1);
    border: 2px solid var(--c1);
}

#searchbox {
    background: #0000;
    border: none;
    bottom: 0;
    box-sizing: border-box;
    display: block;
    height: 100%;
    left: 0;
    outline: none;
    padding: 0;
    width: 100%;
    color: var(--c2);

}

#searchbox::placeholder {
    color: var(--c1);
}
.annoying-corner-workaround  {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}