.centered {
    background-color: white;
    padding: 4rem;
    border-radius: 3rem;

}

form > * {
  margin-bottom: 1rem; /* space between all children */
}

#infobar {
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    padding: 1rem;
}