@keyframes pop-in {
  0% {
    opacity: 0;
    top: -50%;
  }
  100% {
    opacity: 1;
   top: 0%;
  }
}

@keyframes pop-out {
  0% {
    opacity: 1;
    top: 0%;
  }
  100% {
    opacity: 0;
    top: -50%;
  }
}

.centered {
    background-color: var(--c1);
    padding: 4rem;
    border-radius: 3rem;
    box-shadow: 0px 0px 5px var(--c1);
}

form > * {
  margin-bottom: 1rem;
}

#infobar {
    position: absolute;
    width: calc(100% - 3rem);
    color: white;
    text-align: center;
    padding: 1rem;
    animation: pop-in 0.5s ease-out;
}

#infobar.disabled {
  animation: pop-out 0.5s ease-in forwards;
}